.character-list {
  
}

.character-card {
  margin: 10px auto;
  width: 500px;
  background-color: rgba(211, 211, 211, .75);
  display: flex;
  border: solid 3px lightblue;
  border-radius: 15px;
}

ul {
  width: 100%;
  padding: 0;
  & > li {
  list-style: none;
}
}